@font-face {
    font-family:gangbang;
    src:url(fonts/gangbang.ttf);
}



body {
    background-color:white;
}

.faggot {
    background-color:pink;
    border:2px solid purple;
}

.faggot div {
    height:10vh;
}

.nigger {
    background-color:black;
    border:4px solid red;
    border-radius:9px;

    color:white;

    height:199px;

    font-family:gangbang;
}

.nigger div {
    text-align:center;
    padding-top:0;
    height:80px;
}

.nigger div:hover {
    background-color:red;
    border-width:28px;
}

.nigger .middle-class {
    background-color:brown;
}

.middle-class {
    border:4px outset green;

    padding:10px;
    margin:10px;

    font-weight:900;
    text-decoration:underline;
}

.poor {
    border:4px inset purple;

    padding:10px;
    margin:10px;

    font-weight:200;
    text-decoration:line-through;
}